<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#828282">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Author.name }}">
<meta name="application-name" content="{{ .Site.Author.name }}">
<meta name="msapplication-TileColor" content="#a2a2a2">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<script src="https://unpkg.com/@botpoison/browser"></script>
